@@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
  
.veg{
    min-height: 130vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(home/pexels-ella-olsson-1640773.jpg);
    background-size: cover;
    background-attachment: fixed;

}
header{
    background: rgba(12,11,9,0,6);
    height: 150px;
}
header h1{
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px 0 20px 0;
    text-transform: uppercase;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: center;
    align-self: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
    padding: 10px;
}
header nav ul:nth-child(8){
    color: #dd1515;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
   font-size: 12px;
   font-weight: 600;
   letter-spacing: 1px;
   transition: 0.4s ease-in;
}
header nav ul li a:hover{
    color: #CDA45E;
}
.cart{
    padding: 5px 30px;
    margin-left: 30px;
    border: 0;
    outline: 0;
    background-color: #CDA45E;
    color: #292929;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s ease-in;
    
}
.btn-cart:hover{
    
    background-color: #CDA45E;
    color: #292929;
}

.btn-cart i{
    margin-left: 10px;
}

.cart-count{
    position:absolute;
    background-color: #CDA45E;
    color: #292929;
    text-align: center;
    top: 80px;
    right: 400px;
    height: 30px;
    width: 30px;
    padding: 3px;
    line-height: 25px;
    border-radius: 60%;
    font-weight: 600;
    z-index: 10;
}

.cart{
    position: fixed;
    top: 0;
    right:-100%;
    width: 400px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background color: rgba(12,11,9,0,6);
    box-shadow: 0 1px 4 px rgba(12,11,9,0,6);
    padding: 20px;
    z-index: 100;
}

.cart-active{
    right:0;
    transition: 0.4s ease;
}

.cart-title{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ce8810;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #CDA45E;
}

.cart-img{
    height: 75px;
     width:75px ;
     border: radius 50%;
     border: #292929; 
     padding: 5px;
}

.detail-box{
    display: grid;
    row-gap: 15px;
}

.price-box{
    display: flex;
    justify-content: space-between;
}

.cart-food-title{
    font-size: 25px;
    font-weight: 500;
}
.cart-price{
    font-weight: 600;

}

.cart-amt{
    font-weight: 600;
}

.cart-quantity{
    background-color: #181614;
    color: #CDA45E;
    border:none;
    outline:none;
    width:40px;
    height:20px;
    
    font-size: 15px;
    text-align: center;
}

.cart-remove{
    font-size: 25px;
    cursor:pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.total-title{
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    
}
.total-price{
    font-size: 20;
    margin-left: 10px;
    font-weight: 500;

}

.cart-btn-buy:hover{
    padding: 20px;
    border:none;
    outline:0;
    background: transparent;
    border:2px solid #241805;
    color:#0a421c;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3,ease-in;
}

.cart-btn-buy:hover{
    color:#292929;
    background: #CDA45E;
}

#cart-closed{
    position: absolute;
    top:20px;
    right:20px;
    font-size: 15px;
    cursor: pointer;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 50px;
    margin: 50px;
    border: 2px solid #CDA45E;
}

.container .food-box{
    height: 160x;
    width: 150px;
    background: #2c1d07;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 2px solid #CDA45E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}
.container .food-box img{
    height: 100px;
    width: 100px;
    background: #ad8e58;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    border: 5px solid #cda45e;
    margin-top: 2px;
}

.container .food-box img:hover{
    transform: scale(1.2);
}
.container .food-box h2{
    color: #ad8e58;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px;
    padding-bottom: 5px;
}

.container .food-box h3{
    color: #CDA45E;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px ;
}
.container .food-box .add-cart{

    padding: 3px 10px;
    margin: 10px;
    border: 2px solid #CDA45E;
    outline:0;
    font-size: 10px;
    background-color:transparent;
    color: #CDA45E;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in;
    cursor: pointer;

}

.container .food-box .add-cart:hover{

    color: #292929;
    background-color: #CDA45E;
}
